.container-columna {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Divide la sección en dos columnas de ancho igual */
    gap: 20px; /* Espacio entre las columnas y las filas */
  }
  
  .block-container {
    border: 1px solid #ddd; /* Borde para el contenedor de cada bloque (opcional) */
    padding: 20px; /* Espacio interno para el contenido (opcional) */
  }
  
  .form-check {
    display: flex; /* Si quito esto se superopone tyodo en el centro*/
    flex-direction: column; /*Si quito esto se va a la izquierda*/
  }
  
  .btn-custom {
    width: 100%; /* Hace que el botón ocupe toda la anchura disponible */
    margin-top: 20px; /* Añade un margen superior */
  }
  