.input-feedback {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-container {
  margin-top: 5px;
  margin-bottom: 5px;
}

.input-error {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-box {
  padding: 1em; /* Add padding for text */
  font-size: 1.05em; /* Adjust the font size as desired */
  justify-content: center;
  align-items: center;
}