.input-feedback {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-container {
  margin-top: 5px;
  margin-bottom: 5px;
}

.input-error {
  display: flex;
  justify-content: center;
  font-size: 12px;
}