.board-gestion {
    text-align: center;
  }
  
  .list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .user-details {
    display: flex;
    align-items: center;
  }
  
  .stats-button {
    margin-left: 10px;
  }
  
  .button-container {
    display: flex;
    align-items: center;
    margin-left: auto; /* Mueve los botones al margen derecho */
  }
  
  .user-role {
    display: inline-block;
    background-color: #e2e2e2;
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 10px;
    font-size: 0.9rem;
    font-weight: bold;
    color: #444;
  }
  
  .user-username {
    margin-right: 10px;
  }
  
  .button-container {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  .button-container button {
    margin-right: 10px; /* Agrega espacio entre los botones */
  }

  .button-special {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .special-margin {
    margin-left: 10px; /* Agrega espacio entre los botones */
  }
  
  .btn-custom {
    background-color: #18a4bc;
    border-color: #18a4bc;
    color: white;
  }
  
  .btn-custom:hover {
    background-color: #11788a;
    border-color: #18a4bc;
    color: white;
  }
  
  .generate-credentials {
    margin-top: 1rem;
  }

  /* Modal Estilos */
  .modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Asegura que el modal esté por encima de otros elementos */
  }

  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    width: 70%; /* Ajusta el ancho del modal según sea necesario */
    max-width: 600px; /* Establece un ancho máximo */
  }

  .form-group div {
    margin-top: 20px;
  }

  .modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semi-transparente */
    z-index: 9999; /* Asegura que esté por encima de todo el contenido */
    pointer-events: auto; /* Bloquea todos los eventos del mouse */
  }
  
  